<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<body>
<h3><a th:href="@{/blog}">back to home</a></h3>
<th:block th:if="${user}!='anonymousUser'">
    <a th:href="@{/personalPage}"><u th:text="${user}"></u></a> | <a th:href="@{/logout}">Logout</a>
</th:block>

<form th:action="@{/create/blog/}" th:object="${createBlog}" method="post">
    Title : <input type="text" th:field="*{title}"><br>
    Content : <textarea th:field="*{content}"></textarea><br>
    <select th:field="*{user}" style="display: none;">
            <option th:value="${userName.id}" >
        </select>
    <input type="submit" value="Save">
</form>
</body>
</html>